.s-banner{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-video__img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}