<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

content.content
        .container
            .content__top
                .logo.big-logo
                    img(src="static/images/general/rwyl2.png").content__img
                .big__logo.big-logo--right.big-logo
                    h1.title-page2   OUR STORY
                    p.big__logo__text   This is Photoshop's vers on of Lorem lpsum. Proin gravida nioh vel velit auctor aliquet. Aenean sollic tudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    p.big__logo__bottom    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    button.big__logo__bottom2    LEARN MORE
        section(style="background-image:url('static/images/general/pyih.jpg')").content-video__img
            .container
                .video
                    <iframe max-width="560" height="315" src="https://www.youtube.com/embed/KvUgaHTNit4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    //button.button_video
                        img(src="static/images/general/play.png").play_icon
                    p.video__text WATCH OUR STORY
        .container
            .expertise
                .top
                    h1.title-page3  EXPERTISE
                    p.expertixe__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
                    img(src="static/images/general/Separator.jpg").separator
                .center
                    .center_nav.center-nav
                        img(src="static/images/general/komp.png").center__img
                        p.title__text   WEB DESIGN & DEVELOPMENT
                        p.bottom__text  This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .center_nav2.center-nav
                        img(src="static/images/general/kistoch.png").center__img
                        p.title__text2  BRANDING IDENTITY
                        p.bottom__text2 This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .center_nav3.center-nav
                        img(src="static/images/general/mobile.png").center__img
                        p.title__text3  MOBILE APP
                        p.bottom__text3 This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                .bottom
                    .bottom_nav.bottom-nav
                        img(src="static/images/general/cirkle.png").center__img
                        p.title__text4   SEARCH ENGINE OPTIMIZATION
                        p.bottom__text4  This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .bottom_nav2.bottom-nav
                        img(src="static/images/general/kalkul.png").center__img
                        p.title__text5  GAME DEVELOPMENT
                        p.bottom__text5 This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .bottom_nav3.bottom-nav
                        img(src="static/images/general/hart.png").center__img
                        p.title__text6  MADE WITH LOVE
                        p.bottom__text6  This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        section(style="background-image:url('static/images/general/bgt.png')").content-video__img
            .container
                .team
                    .title
                        h1.title_top_team MEET OUR AMAZING TEAM
                        p.title_bottom_team Lorem ipsum dolor sit amet proin gravida nibh vel velit
                        img(src="static/images/general/Separator.jpg").separator
                    .items_team
                        .items_team_text_h1
                            img(src="static/images/general/white.png").photo__team
                            h2.photo__team__text1.photo-team-text  SEMF UCUK
                            p.photo__team__text2  CEO & FOUNDER
                        .items_team_text_h2
                            img(src="static/images/general/white.png").photo__team
                            h2.photo__team__text1.photo-team-text  DIK ADALIN
                            p.photo__team__text2  ENGINEERING
                        .items_team_text_h3
                            img(src="static/images/general/white.png").photo__team
                            h2.photo__team__text1.photo-team-text  JENG KOL
                            p.photo__team__text2  DESIGNER
                        .items_team_text_h4
                            img(src="static/images/general/white.png").photo__team
                            h2.photo__team__text1.photo-team-text  PET ROMAK
                            p.photo__team__text2  MARKETING
                    .bottom_team
                        p.bottom__text_team Become part of our dream team, let's join us!
                        button.bottom__text_team2 WE ARE HIRING
        .works
                .container
                    .title_works
                        h1.title_works_top  OUR WORKS
                        a(href="").title_works_top2  See All Project in dribbble >
                .center_works
                    img(src="static/images/general/works.png").photo__work
                .bottom_works
                    button.button_works LOAD MORE
        section(style="background-image:url('static/images/general/bcp.svg')").content-video__img
            .container
                .testimonials
                    .top_testimonials
                        h1.title_testimonials "
                    .center_testimonials
                        p.text_testimonials This is Photoshop's vers on of Lorem lpsum. Proin gravida nioh vel velit auctor aliquet. Aenean sollic tudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit ametmauris. Morbi accumsan velit. Nam rec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
                    .bottom_testimonials
                        h2.text_bottom_testimonials1 JANE GALADRIEL
                        p.text_bottom_testimonials2 CEO TENGKUREP
                    .footer_testimonials
                        .footer_testimonials_one
                            img(src="static/images/general/1.png").pict__img_mar
                            img(src="static/images/general/2.png").pict__img
                        .footer_testimonials_two
                            img(src="static/images/general/3-active.png").pict__img_active
                        .footer_testimonials_three
                            img(src="static/images/general/4.png").pict__img_mar
                            img(src="static/images/general/5.png").pict__img
        .container
            .contact
                .title_contact
                    h1.title_contact_text GIVE US A GOOD NEWS
                .center_contact1
                    input(placeholder="Name").input-field1
                .center_contact2
                    input(placeholder="Email").input-field1
                .center_contact3
                    input(placeholder="Subject").input-field1
                .center_contact4
                    input(placeholder="Your Message").input-field2
                .bottom_contact
                    button.button_contact SUBMIT
        section(style="background-image:url('static/images/general/footbec.png')").content-video__img
            .container
                .footer
                    .items_footer
                        .left_footer
                            .top-items_footer1
                                img(src="static/images/general/str.png").header__img
                                h2.top-items_footer_text1 tajam
                            .center-items_footer1
                                p.center-items_footer_text1 lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet auctor a ornare odio non mauris vitae erat in eit.
                        .center_footer
                            .top-items_footer2
                                h2.top-items_footer_text2 OUR STUDIO
                                .center-items_footer_text2
                                    img(src="static/images/general/big104.png").local__img
                                    p.center-items_footer_text21 Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                                .center-items_footer_phone
                                    img(src="static/images/general/phone351.png").phone__img
                                    a(href="tel:(+62)2122243333").center-items_footer_phone_number (+62) 21-2224 3333
                        .right_footer
                            .top-items_footer3
                                h2.top-items_footer_text3 STAY IN TOUCH
                            .center_input
                                p.footer_right_text Subscribe our newsletter
                                button.button_footer_message
                                    img(src="static/images/general/paper122.png").play_icon
                            .top-items_footer_message
                                img(src="static/images/general/facebook.png").facebook__img
                                img(src="static/images/general/twitter.png").twitter__img
                                img(src="static/images/general/dribbble.png").dribbble__img
                                img(src="static/images/general/instagram.png").instagram__img
                                img(src="static/images/general/gplus.png").gplus__img
                                img(src="static/images/general/youtube.png").youtube__img
                    .bottom_footer
                            a(href="").left_bottom_footer_text1 HELP
                            a(href="").left_bottom_footer_text2 TERMS & CONDITION
                            a(href="").left_bottom_footer_text3 PRIVACY
                            p.right_bottom_footer_text Copyright @ 2015 - Tajam Creative